{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
</head>

<body>
  <div class="table-container container">
    <h1 class="heading">Department of Anatomy</h1>
    <table>
      <thead>
        <tr>
          <th>Serial</th>
          <th>Name</th>
          <th>Designation</th>
          <th>Qualification</th>
          <th>Remarks</th>
        </tr>
        <thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Prof. Dr. Rita Rani Saha</td>
            <td>Prof & Head of the Dept</td>
            <td>MBBS, M. Phil</td>
            <td>Regular</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Prof. Dr. Rita Rani Saha</td>
            <td>Prof & Head of the Dept</td>
            <td>MBBS, M. Phil</td>
            <td>Regular</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Prof. Dr. Rita Rani Saha</td>
            <td>Prof & Head of the Dept</td>
            <td>MBBS, M. Phil</td>
            <td>Regular</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Prof. Dr. Rita Rani Saha</td>
            <td>Prof & Head of the Dept</td>
            <td>MBBS, M. Phil</td>
            <td>Regular</td>
          </tr>
        </tbody>
    </table>
  </div>


</body>

</html>